@font-face { font-family: Avenir Next; src: url('AvenirNext.ttc'); }

body {
    margin: 0;
    padding: 0;
    font-family: Avenir Next, Helvetica, sans-serif;
    font-size: 16px;
}

.img_left {
    background-image: url("edge_img1.png");
    background-repeat: no-repeat;
    width: 50%;
    height: 100vw;
    float: left;
}

img.img_left {
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

.content_right{
    background-color: #123456;
    width: 100%;
    height: auto;
    float: left;
}

.text_right{
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 10%;
    margin-right: 10%;
}